{% macro btn(url, label, color="primary", icon=None, size="sm") %}
<a href="{{ url }}" class="btn btn-{{ color }} btn-{{ size }}">
    {% if icon %}<i class="fas fa-{{ icon }}"></i>{% endif %}
    {{ label }}
</a>
{% endmacro %}


{% macro btn_submit(label="Guardar") %}
<button type="submit" class="btn btn-primary">
    <i class="fas fa-save"></i> {{ label }}
</button>
{% endmacro %}


{% macro btn_delete(url, confirm_text="¿Seguro que deseas eliminar?") %}
<form method="post"
      action="{{ url }}"
      class="d-inline"
      onsubmit="return confirm('{{ confirm_text }}')">

    <button type="submit" class="btn btn-danger btn-sm">
        <i class="fas fa-trash"></i>
        Eliminar
    </button>
</form>
{% endmacro %}